.content .span4 {
    margin-left: 5px;
    padding-left: 14px;
    border-left: 1px solid #eee;
}

#overview {
    color: #fff;
    background: url('/images/header.jpg');
    padding-top: 50px;
    height: 250px;
}

.subnav {
    margin-bottom: 20px;
    .nav {
        margin-bottom: 0;
    }
    .nav>li>a {
        box-shadow: inset 0px -1px 5px rgba(127,124,150,0.5);
        background-color: #eee;
        font-size: 16px;
    }
}

.nav-pills>li>a {
    padding-top: 5px;
}
