---
layout: default
---
<div class="row">
    <div class="span12">
        {% for page in site.pages %}
        {% if page.layout == 'production' %}
            <div class="row">
                <div class="span12">
                    <h2>{{ page.title }}</h2>
                </div>
            </div>
            <a href="{{ page.permalink }}">En savoir plus</a>
            <div class="row">
                <div class="span5">
                    <dl class="dl-horizontal">
                        <dt>Formation</dt>
                        {% for group in page.group %}
                            <dd>{{ group }}</dd>
                        {% endfor %}

                        <dt>Genre</dt>
                        {% for genre in page.genre %}
                            <dd>{{ genre }}</dd>
                        {% endfor %}

                        <dt>Equipe</dt>
                        {% for team in page.team %}
                            <dd>{{ team }}</dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="span7">
                    {% if page.widget %}
                        {{ page.widget }}
                    {% else if page.widgets %}
                        {{ page.widgets.first() }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
