<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">Stage</h4>
            <p>Je recherche actuellement un stage conventionné de 4 à 8 semaines à partir de Juin 2013.<br />
                Je suis tout particulièrement intéressé par un poste d'assistant dans les domaines suivants :</p>
            <ul>
                <li>Studio d'enregistrement</li>
                <li>PDS Cinéma</li>
                <li>Post-production son</li>
                <li>Prestation événementielle</li>
            </ul>
            <p>N'hésitez pas à me contacter! Bonne visite</p>
        </div>
    </div>
</div>
