<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}{% if page.title %} | {% endif %}Baptiste Quéméner</title>
        <meta name="description" content="{{ page.title }}">
        <meta name="author" content="Baptiste Quéméner">

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- styles -->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css" href="/css/default.less">

    </head>
    <body>
        <div class="container">
            <header id="overview">
                <div class="row">
                    <div class="span1"></div>
                    <div class="span11">
                        <h1>Baptiste Quéméner</h1>
                        <p class="lead">Etudiant en 2<sup>ème</sup> année de l'ISTS à Rennes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span11">
                        <address>
                            36, rue Vasselot<br />
                            35000 Rennes<br/>
                            06 64 12 14 57<br/>
                            <a href="mailto:quemeneb@gmail.com">quemeneb@gmail.com</a>
                        </address>
                    </div>
                </div>
            </header>
            {% include topbar.html %}
            {{ content }}
        </div>

        <!-- scripts -->
        <script type="text/javascript" src="/javascript/jquery.min.js"></script>
        <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>

        <script type="text/javascript">
            less = {
                env: "production"
            };
        </script>
        <script type="text/javascript" src="/javascript/less.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39013576-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>
