---
layout: default
---
<h2>{{ page.title | capitalize }}</h2>
<div class="row">
    <div class="span5">
        <dl class="dl-horizontal">
            <dt>Formation</dt>            
            {% for group in page.group %}
                <dd>{{ group | capitalize }}</dd>
            {% endfor %}

            <dt>Genre</dt>
            {% for genre in page.genre %}
                <dd>{{ genre | capitalize }}</dd>
            {% endfor %}

            <dt>Equipe</dt>
            {% for team in page.team %}
                <dd>{{ team | capitalize }}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="span7">
        {{ page.widget }}
    </div>
</div>
<div class="row">
    <div class="span12">
        {{ content }}
    </div>
</div>
<div class="row">
    <div class="span12"><a href="/">Retour</a></div>
</div>
