---
layout: default
---
<div class="row">
    <div class="span12">
        <h2>{{ page.title }}</h2>
    </div>
</div>

<div class="row">
    <div class="span5">
        <dl class="dl-horizontal">
            <dt>Formation</dt>
            {% for group in page.group %}
                <dd>{{ group }}</dd>
            {% endfor %}

            <dt>Genre</dt>
            {% for genre in page.genre %}
                <dd>{{ genre }}</dd>
            {% endfor %}

            <dt>Equipe</dt>
            {% for team in page.team %}
                <dd>{{ team }}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="span7">
        {% if page.widget %}
            {{ page.widget }}
        {% else if page.widgets %}
            {{ page.widgets.first() }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="span12">
        {{ content }}
    </div>
</div>

{% for widget in page.widgets offset:1 %}
<div class="row">
    <div class="span12">
        {{ widget }}
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="span12 centered-text"><a href="/">Retour</a></div>
</div>
