---
layout: default
---
<h2>{{ page.title | capitalize }}</h2>
<div class="row">
    <div class="span5">
        <dl class="dl-horizontal">
            <dt>Formation</dt>
            <dd>{{ page.group }}</dd>

            <dt>Genre</dt>
            <dd>{{ page.genre }}</dd>

            <dt>Equipe</dt>
        {% for teamate in page.team %}
            <dd>{{ teamate | capitalize }}</dd>
        {% endfor %}
        </dl>
    </div>
    <div class="span7">
        {{ page.widget }}
    </div>
</div>
<div class="row">
    <div class="span12">
        {{ content }}
    </div>
</div>
<a href="/">Retour</a>
